<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forshow.css">
</head>
<body>
    <h2>You are edit for this user: <%= user.email %></h2>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username"><%= user.usename %></textarea><br>
        <input type="password" name="password" placeholder="Enter the password"><br>
        <button>edit</button>
    </form>
</body>
</html>