*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
.main{
    margin: 17px 34px 17px 34px;
    /* margin-top: 17px;
    margin-left: 34px; */
    height: 96%;
    width: 96%;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    
}
.nav{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.nav-p1{
    display: flex;
}
.nav h3{
    font-size: 17px;
    font-weight: 500;
    border: 1.5px solid;
    padding: 5px 10px;
    border-radius: 50px;
}
.nav i{
    font-size: 17px;
    border: 1.5px solid;
    padding: 5px 10px;
    border-radius: 50px;
}
.nav h2{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
.nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid;
    
}
.nav #btn2{
    color: #fff;
    background-color: orangered;
}
.main>h1{
    color: aqua;
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
}
img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#img1{
    transform: translate(-50% , -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50% , -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50% , -50%) rotate(-10deg);
}
h5{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}
/* .arow{
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 50px;
     
    position: absolute;
    bottom: -2%;
    left: 48%;
    justify-content: center;
} */